{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["Chrome >= 60", "Firefox >= 55"]
        },
        "debug": true
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
