{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false,
        "targets": {
          "browsers": ["since 2018"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
