.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.card_container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.section {
  margin: 1.5rem 0 2rem 0;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 1.5rem;
  color: var(--text-light);
  border-bottom: 2px solid var(--text-link);
}

.card {
  padding: 10px;
  color: var(--text-dark);
  text-decoration: none;
  border-radius: 4px;
  background: var(--text-light);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.title,
.description {
  margin: 0;
}

.description {
  padding-top: 10px;
}

.title {
  display: inline;
  margin-right: 10px;
}

.tech {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--text-danger);
}

.tech + .tech::before {
  content: "/";
  padding: 3px;
  font-size: 0.7rem;
  color: #424242;
}
