.container {
  display: flex;
  margin: 1.5rem auto;
  max-width: 1200px;
  padding: 0 10px 10px 10px;
}

.left {
  flex: 4;
  color: var(--text-grey);
  padding: 0 10px 10px 0;
}

.right {
  flex: 3;
  display: flex;
}

.section {
  margin: 0 0 1.5rem 0;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--text-link);
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.tech {
  font-weight: 100;
  color: var(--text-info);
}

.tech + .tech::before {
  content: " / ";
  color: var(--text-light);
}

.description {
  margin: 1.5rem 0;
  line-height: 1.5rem;
  font-weight: 100;
}

.link {
  color: var(--text-link);
  text-decoration: none;
}

.image {
  width: 100%;
  align-self: flex-end;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.image:hover {
  transform: scale(1.1);
}

@media (max-width: 764px) {
  .container {
    flex-direction: column;
  }
}
